.mainDiv {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 10rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.about {
  height: 100%;
}

.aboutColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  p {
    padding-right: 2rem;
  }
}

.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  position: sticky;
  bottom: 0;
  width: 100%;
}
