.mainDiv {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr auto;
}

.headerContainer {
  max-width: 1200px;
  padding: 0 10rem;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10rem;
  margin: 0 auto;
  grid-area: main;
  overflow: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.about {
  height: 100%;
}

.aboutColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  p {
    padding-right: 2rem;
  }
}

.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  width: 100%;
  grid-area: footer;
}

@media (max-width: 724px) {
  .container {
    padding: 0 0.5rem !important;
  }

  .aboutColumns {
    padding: 0.5rem !important;

    p {
      padding-right: 0rem !important;
    }
  }
}

@media (max-width: 960px) {
  .aboutColumns {
    flex-direction: column !important;
  }
}
